.search-container {
  display: flex;
  width: 100%;
  padding: 20px 8px;
  & > * {
    margin-right: 10px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  svg {
    margin: 0 3px;
    cursor: pointer;
  }
  path {
    fill: white;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  p {
    font-size: 12px;
    border-bottom: 1px solid white;
    padding: 4px;
    cursor: pointer;
  }
  p:last-of-type {
    border: none;
  }
  P:hover {
    color: white;
    background-color: var(--primary-green);
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-first {
  display: flex;
  color: white;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 4px;
}

.search-input-section {
  .search-input-value {
    outline: none;
    padding: 4px;
    background-color: black;
    border: 1px solid var(--primary-green);
    color: white;
    transition: all 0.8s ease;
  }
}

.submit-search-btn {
  text-align: center;
  outline: none;
  border: none;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 4px 8px;
  transition: all 0.8s ease;
  &:hover {
    color: black;
    background-color: white !important;
  }
}

@media (max-width: 1024px) {
  .search-container {
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    & > * {
      margin: 0;
      margin-bottom: 6px;
    }
  }
  .search-input-section {
    .search-input-value {
      width: 100%;
    }
  }
}

.error {
  color: red;
}
