.homeContainer {
  display: flex;
}

.card {
  display: flex;
  margin: 2px;
}

.first-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

.load-more-btn {
  width: 90%;
  margin: 10px 0;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 4px 8px;
  border: none;
  transition: all 0.5s ease;

  &:hover {
    color: white;
    background-color: black;
  }
}

.second-col {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  .current-employee {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    color: white;
    h2 {
      border-bottom: 1px solid white;
      margin-bottom: 10px;
    }
  }
  .current-employee-maintext {
    font-size: 16px;
  }
  .project-intro {
    padding: 12rem 2rem;
    display: flex;
    flex-direction: column;
    color: white;
    h1 {
      border-bottom: 1px solid white;
      margin-bottom: 50px;
      animation-name: fade-in-anim;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      opacity: 0;
    }
    p {
      font-size: 20px;
      margin: 5px 0;
      opacity: 0;
      animation-duration: 0.2s;
      animation-name: fade-in-anim;
      animation-fill-mode: forwards;
    }
    p:nth-of-type(1) {
      animation-delay: 1s;
    }
    p:nth-of-type(2) {
      animation-delay: 2s;
    }
    p:nth-of-type(3) {
      animation-delay: 3s;
    }
    p:nth-of-type(4) {
      animation-delay: 4s;
    }
    a {
      text-align: center;
      margin-top: 25px;
      outline: none;
      text-decoration: none;
      color: black;
      background-color: white;
      padding: 4px 8px;
      transition: all 0.5s ease;
      animation-name: fade-in-anim;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-delay: 5s;
      opacity: 0;
    }
    a:hover {
      color: white;
      background-color: black;
    }
  }
}

@keyframes fade-in-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .homeContainer {
    flex-direction: column-reverse;
    height: 100vh;
  }
  .first-col {
    justify-content: center;
    overflow-y: scroll;
    flex: 1 1 400px;
    width: 100%;
    height: 30vh;
    border-top: 4px solid white;
  }
  .second-col {
    position: unset !important;
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    .current-employee {
      padding: 2rem 2rem 4rem 2rem;
    }
    .project-intro {
      padding: 4rem 2rem;
    }
  }
}
