.employee-card {
  background-color: transparent;
  width: 220px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.employee-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.employee-card:hover .employee-card-inner {
  transform: rotateY(180deg);
}

.employee-card-front,
.employee-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.employee-card-front {
  background-color: #bbb;
  color: black;
  img {
    width: 100%;
    height: 100%;
  }
}

.employee-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 8px;
  background-color: var(--primary-green);
  color: white;
  transform: rotateY(180deg);
  & .employee-socail-acounts {
    svg {
      margin: 0 3px;
      cursor: pointer;
    }
    path {
      fill: white;
    }
  }
}

@media (max-width: 480px) {
  .employee-card {
    width: 160px;
    height: 250px;
  }
}
