.svgContainer {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.svgLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: red;
}
path {
  fill: var(--primary-green);
}
